scoop/config*.json

nushell/history.txt
nushell/history-*.txt
nushell/history.sqlite3*
nushell/history-*.sqlite3*
nushell/logs/
nushell/scripts/generated/*
!nushell/scripts/generated/package
nushell/scripts/generated/package/*
!nushell/scripts/generated/package/bad-managers.nu
!nushell/scripts/generated/package/managers.nu
!nushell/scripts/generated/package/data.nu
!nushell/scripts/generated/default_env.nu
!nushell/scripts/generated/default_config.nu

clink/clink-*.log
clink/clink.log
clink/clink_history*
clink/clink_errorlevel*

windows_terminal/INSPIRON15-3521-*_settings.json

.eget.toml
