[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
neovim = "*"
pylint = "*"
pylama = "*"
eradicate = "*"
bandit = "*"
pyflakes = "*"
flake8 = "*"
jedi = "*"

[dev-packages]
