{{- $kanata_exe := (
    deepCopy . |
    merge (dict "exes" (list
            "kanata_windows_tty_winIOv2_x64.exe"
            "kanata_winIOv2.exe"
        )
    ) |
    includeTemplate "findExe" |
) -}}
{{- $default_config_exists := stat (joinPath .chezmoi.config.env.XDG_CONFIG_HOME "kanata" "kanata.kbd") -}}
{{- $extra_config_exists := stat (joinPath (env "APPDATA" | default (joinPath .chezmoi.destDir "AppData" "Roaming")) "kanata" "kanata.kbd") -}}
{{- if not (
    (.chezmoi.os | eq "windows") |
    and $kanata_exe |
    and (not (stat (joinPath
        .chezmoi.destDir
        "AppData"
        "Roaming"
        "Microsoft"
        "Windows"
        "Start Menu"
        "Programs"
        "Startup"
        "kanata.lnk"
    ))) |
    and ($default_config_exists | or $extra_config_exists)
) -}}
kanata.bat
{{ end }}
{{ if not (.chezmoi.os | eq "windows" | and (lookPath "autohotkey.exe")) }}
*.ahk
{{ end }}
