{{- $kanata_exe := (
    deepCopy . |
    merge (dict "exes" (list
            "kanata_windows_tty_winIOv2_x64.exe"
            "kanata_winIOv2.exe"
        )
    ) |
    includeTemplate "findExe" |
) -}}
{{ if not ($kanata_exe | hasSuffix "kanata_winIOv2.exe") }}
kanata_old.lnk
{{ end }}
{{ if not ($kanata_exe | hasSuffix "kanata_windows_tty_winIOv2_x64.exe") }}
kanata.lnk
{{ end }}
{{ if not (.chezmoi.os | eq "windows" | and (lookPath "autohotkey.exe")) }}
*.ahk
{{ end }}
