[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
Documentation=https://github.com/jtroo/kanata/blob/main/docs/setup-linux.md#5a-to-create-and-enable-a-systemd-daemon-service

[Service]
ExecSearchPath=%h/apps/eget-bin/
WorkingDirectory=%E/kanata/
Environment=DISPLAY=:0
Type=simple
# NOTE::IMPROVEMENT could add --no-wait and use the restart mechanism
ExecStart=kanata_linux_x64
Restart=no

[Install]
WantedBy=default.target
