{{- if .chezmoi.os | eq "android" -}}
#!/data/data/com.termux/files/usr/bin/sh
{{- else -}}
#!/bin/sh
{{- end -}}

set -eu

if command -v nu >/dev/null 2>&1; then
    echo 'nu already installed'
    {{ with .minimum_nu_version -}}
    nu -c '
    use std [log]
    if (
        version |
        select major minor patch |
        into int major minor patch |
        (
            ($in.major >= {{ .major }})
            and
            ($in.minor >= {{ .minor }})
            and
            ($in.patch >= {{ .patch }})
        )
    ) {
        log info "nu version is new enough"
        exit 0
    } else {
        log error "nu version is not new enough"
        exit 1
    }'
    {{ end }}
fi

if command -v pkg >/dev/null 2>&1; then
    pkg update
    pkg install nu || pkg upgrade nu
fi

if ! command -v nu >/dev/null 2>&1; then
    echo 'could not install nu'
    exit 1
fi
exit 0
