progress = true
destDir = {{ .chezmoi.homeDir | toToml }}
sourceDir = {{ joinPath .chezmoi.homeDir "projects" "dotfiles" | toToml }}

[gitHub]
refreshPeriod = '1h'

[data]
github_username = 'mawillcockson'
