progress = true
{{ $destDir := .chezmoi.homeDir }}
destDir = {{ $destDir | toToml }}
{{ $sourceDir := joinPath .chezmoi.homeDir "projects" "dotfiles" }}
sourceDir = {{ $sourceDir | toToml }}
encryption = 'age'
useBuiltinAge = 'auto'

[age]
recipient = 'age1tmumxu0um9zse7upzpr28tjy0szg6zayp0wssrz0yl5t33mv7ptq4f3xdd'
{{ $identityFile := joinPath $destDir ".age" "chezmoi_age_identity.txt" }}
{{ if $identityFile | stat }}
identity = {{ $identityFile | toToml }}
{{ end }}

[env]
{{ $defaultConfigHome := joinPath $destDir ".config" }}
{{ if env "XDG_CONFIG_HOME" }}
XDG_CONFIG_HOME = {{ env "XDG_CONFIG_HOME" | toToml }}
{{ else }}
XDG_CONFIG_HOME = {{ promptStringOnce . "XDG_CONFIG_HOME" (printf "$XDG_CONFIG_HOME (must be in %s)" $destDir) $defaultConfigHome | toToml }}
{{ end }}
{{ $relBootstrapDir := ".chezmoi-bootstrap" }}
{{ $absBootstrapDir := joinPath $destDir $relBootstrapDir }}
{{ if .chezmoi.os | eq "windows" }}
PATH = {{ list (env "PATH") $absBootstrapDir | join ";" | toToml }}
{{ else }}
PATH = {{ list (env "PATH") $absBootstrapDir | join ":" | toToml }}
{{ end }}

[gitHub]
refreshPeriod = '1h'

[data]
github_username = 'mawillcockson'
git_name = 'Matthew W'
git_email = 'matthew@willcockson.family'
git_signingKey = 'EDCA9AF7D273FA643F1CE76EA5A7E106D69D1115'
minimum_nu_version = { major = 0, minor = 97, patch = 1 }
set_XDG_CONFIG_HOME = {{ promptBoolOnce . "set_XDG_CONFIG_HOME" "Would you like to set $XDG_CONFIG_HOME system-wide (y/n)" false | toToml }}
run_setup = {{ promptBoolOnce . "run_setup" "Would you like to run the system-wide setup (y/n)" true | toToml }}
relBootstrapDir = {{ $relBootstrapDir | toToml }}
absBootstrapDir = {{ $absBootstrapDir | toToml }}
{{ if .chezmoi.os | eq "windows" }}
abs_bootstrap_nu = {{ joinPath $absBootstrapDir "nu.exe" | toToml }}
rel_bootstrap_nu = {{ joinPath $relBootstrapDir "nu.exe" | toToml }}
abs_bootstrap_eget = {{ joinPath $absBootstrapDir "eget.exe" | toToml }}
rel_bootstrap_eget = {{ joinPath $relBootstrapDir "eget.exe" | toToml }}
{{ else }}
abs_bootstrap_nu = {{ joinPath $absBootstrapDir "nu" | toToml }}
rel_bootstrap_nu = {{ joinPath $relBootstrapDir "nu" | toToml }}
abs_bootstrap_eget = {{ joinPath $absBootstrapDir "eget" | toToml }}
rel_bootstrap_eget = {{ joinPath $relBootstrapDir "eget" | toToml }}
{{ end }}

[interpreters]
{{ if .chezmoi.os | eq "windows" }}
nu = { command = {{ joinPath $absBootstrapDir "nu.exe" | toToml }} }
{{ else if .chezmoi.os | eq "android" }}
nu = { command = {{ lookPath "nu" | default (joinPath $relBootstrapDir "nu") | toToml }} }
{{ else }}
nu = { command = {{ joinPath $absBootstrapDir "nu" | toToml }} }
{{ end }}
