progress = true
destDir = {{ .chezmoi.homeDir | toToml }}
sourceDir = {{ joinPath .chezmoi.homeDir "projects" "dotfiles" | toToml }}

[env]
{{- $defaultConfigHome := joinPath .chezmoi.homeDir ".config" }}
{{- if env "XDG_CONFIG_HOME" }}
XDG_CONFIG_HOME = {{ env "XDG_CONFIG_HOME" | toToml }}
{{ else -}}
XDG_CONFIG_HOME = {{ promptStringOnce . "XDG_CONFIG_HOME" "XDG_CONFIG_HOME" $defaultConfigHome }}
{{- end }}

[gitHub]
refreshPeriod = '1h'

[data]
github_username = 'mawillcockson'
minimum_nu_version = { major = 0, minor = 95, patch = 0 }
