docs/
packages/
python_dev/
windows_terminal/

# nushell
.config/nushell/history.txt
.config/nushell/history-*.txt
.config/nushell/history.sqlite3
.config/nushell/history.sqlite3-shm
.config/nushell/history.sqlite3-wal
.config/nushell/history-*.sqlite3
.config/nushell/history-*.sqlite3-shm
.config/nushell/history-*.sqlite3-wal
.config/nushell/scripts/generated/postconfig.nu


{{ if .chezmoi.os | eq "windows" -}}
# Windows
*.lnk
Thumb.db
desktop.ini

.config/systemd/
.config/termux/
.config/tilda/
.config/tmux/
{{- end -}}
