{{- /* 730 hours is 1 month */ -}}
{{ $commonRefreshPeriod := "730h" | toToml }}
{{ $nuArch := "" }}
{{ if .chezmoi.arch | eq "amd64" }}
{{ $nuArch = "x86_64" }}
{{ else if .chezmoi.arch | eq "arm64" }}
{{ $nuArch = "aarch64" }}
{{ else }}
{{ $nuArch = .chezmoi.arch }}
{{ end }}
{{ $OS := "" }}
{{ if .chezmoi.os | eq "android" | or (.chezmoi.os | eq "linux") }}
{{ $OS = "linux" }}
{{ else }}
{{ $OS = .chezmoi.os }}
{{ end }}

[{{ .rel_bootstrap_nu | toToml }}]
type = 'archive-file'
executable = true
{{ if $OS | eq "windows" }}
url = {{ gitHubLatestReleaseAssetURL "nushell/nushell" (printf "nu-*-%s-*-windows*.zip" $nuArch) | toToml }}
path = 'nu.exe'
{{ else if $OS | eq "linux" }}
url = {{ gitHubLatestReleaseAssetURL "nushell/nushell" (printf "nu-*-%s-*-linux*.tar.gz" $nuArch) | toToml }}
stripComponents = 1
path = 'nu'
{{ else }}
url = {{ gitHubLatestReleaseAssetURL "nushell/nushell" (printf "nu-*-%s-*-%s*" $nuArch .chezmoi.os) | toToml }}
stripComponents = 1
path = 'nu'
{{ end }}
refreshPeriod = {{ $commonRefreshPeriod }}

[{{ .rel_bootstrap_eget | toToml }}]
type = 'archive-file'
executable = true
url = {{ gitHubLatestReleaseAssetURL "zyedidia/eget" (printf "eget-*-%s_%s*" $OS .chezmoi.arch) | toToml }}
stripComponents = 1
path = 'eget{{ if $OS | eq "windows" }}.exe{{ end }}'
refreshPeriod = {{ $commonRefreshPeriod }}

{{ if $OS | eq "linux" }}
[".profile.d/01_log.sh"]
type = 'file'
executable = true
url = 'https://github.com/mawillcockson/path_additions/raw/main/log.sh'
refreshPeriod = {{ $commonRefreshPeriod }}

[".profile.d/02_in_path.sh"]
type = 'file'
executable = true
url = 'https://github.com/mawillcockson/path_additions/raw/main/in_path.sh'
refreshPeriod = {{ $commonRefreshPeriod }}

[".profile.d/03_path_additions.sh"]
type = 'file'
executable = true
url = 'https://github.com/mawillcockson/path_additions/raw/main/path_additions.sh'
refreshPeriod = {{ $commonRefreshPeriod }}
{{ end }}

["catppuccin/starship_latte.toml"]
type = 'file'
url = 'https://raw.githubusercontent.com/catppuccin/starship/main/palettes/latte.toml'
refreshPeriod = {{ $commonRefreshPeriod }}

["catppuccin/starship_macchiato.toml"]
type = 'file'
url = 'https://github.com/catppuccin/starship/raw/main/palettes/macchiato.toml'
refreshPeriod = {{ $commonRefreshPeriod }}

["catppuccin/windows_terminal_latte.json"]
type = 'file'
url = 'https://github.com/catppuccin/windows-terminal/raw/main/latte.json'
refreshPeriod = {{ $commonRefreshPeriod }}

["catppuccin/windows_terminal_latte_theme.json"]
type = 'file'
url = 'https://github.com/catppuccin/windows-terminal/raw/main/latteTheme.json'
refreshPeriod = {{ $commonRefreshPeriod }}

["catppuccin/windows_terminal_mocha.json"]
type = 'file'
url = 'https://github.com/catppuccin/windows-terminal/raw/main/mocha.json'
refreshPeriod = {{ $commonRefreshPeriod }}

["catppuccin/windows_terminal_mocha_theme.json"]
type = 'file'
url = 'https://github.com/catppuccin/windows-terminal/raw/main/mochaTheme.json'
refreshPeriod = {{ $commonRefreshPeriod }}

[".config/alacritty/catppuccin-latte.toml"]
type = 'file'
url = 'https://github.com/catppuccin/alacritty/raw/main/catppuccin-latte.toml'
refreshPeriod = {{ $commonRefreshPeriod }}

[".config/alacritty/catppuccin-mocha.toml"]
type = 'file'
url = 'https://github.com/catppuccin/alacritty/raw/main/catppuccin-mocha.toml'
refreshPeriod = {{ $commonRefreshPeriod }}

[".config/gnupg/drduh_gpg.conf"]
type = 'file'
url = 'https://github.com/drduh/config/raw/master/gpg.conf'
refreshPeriod = {{ $commonRefreshPeriod }}
