LICENSE
README.md
catppuccin/
catppuccin/*
docs/
keepass/
packages/
python_dev/
scoop/
termux/
tmux/
win_specific/
windows_terminal/

{{ if .chezmoi.os | ne "windows" }}
AppData/
{{ end }}
{{ if (.chezmoi.os | ne "linux") | or (.chezmoi.os | ne "android") }}
.bashrc
.bash_profile
.tmux.conf
{{ end }}

{{ if not (promptBoolOnce . "setXDG_CONFIG_HOME" "Would you like to set $XDG_CONFIG_HOME system-wide?" false) }}
.chezmoiscripts/25-set_XDG_CONFIG_HOME.bat
.chezmoiscripts/26-set_XDG_CONFIG_HOME.sh
{{ end }}
{{ if not (promptBoolOnce . "installNu" "Would you like to (try to) install Nushell?" false) }}
.chezmoiscripts/27-set_NU_USE_IR.bat
.chezmoiscripts/28-set_NU_USE_IR.sh
.chezmoiscripts/50-install_nushell.ps1
.chezmoiscripts/51-install_nushell.sh
{{ end }}
