{{- $kanata_exe := (
    deepCopy . |
    merge (dict "exes" (list
            "kanata_windows_tty_winIOv2_x64.exe"
            "kanata_winIOv2.exe"
        )
    ) |
    includeTemplate "findExe" |
) -}}
{{ if .chezmoi.os | eq "windows" }}
    {{ if ($kanata_exe | hasSuffix "kanata_winIOv2.exe") }}
AppData/Roaming/Microsoft/Windows/Start Menu/Programs/Startup/kanata.lnk
    {{ end }}
    {{ if ($kanata_exe | hasSuffix "kanata_windows_tty_winIOv2_x64.exe") }}
AppData/Roaming/Microsoft/Windows/Start Menu/Programs/Startup/kanata_old.lnk
    {{ end }}
{{ end }}
