["catppuccin/starship_latte.toml"]
type = 'file'
url = 'https://raw.githubusercontent.com/catppuccin/starship/main/palettes/latte.toml'
refreshPeriod = '730h' # 1 month

["catppuccin/starship_macchiato.toml"]
type = 'file'
url = 'https://github.com/catppuccin/starship/raw/main/palettes/macchiato.toml'
refreshPeriod = '730h' # 1 month
