# per-repository
# [user]
# 	name = Matthew Willcockson
# 	email = matthew@willcockson.family
# 	signingKey = 0xA5A7E106D69D1115


# NOTE::CROSSPLATFORM
[core]
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
	logAllRefUpdates = always
	safecrlf = true
	autocrlf = false
	abbrev = no
[gpg]
	program = C:/Users/mawil/scoop/apps/gnupg/current/bin/gpg.exe
	minTrustLevel = ultimate
[gpg "openpgp"]
	program = C:/Users/mawil/scoop/apps/gnupg/current/bin/gpg.exe
[gpg "ssh"]
	program = C:/Windows/System32/OpenSSH/ssh-keygen.exe
[gc]
	auto = 0
	pruneExpire = never
	worktreePruneExpire = never
	reflogExpire = never
	reflogExpireUnreachable = never
[maintenance]
	auto = false
	strategy = none
[maintenance "gc"]
	enabled = false
[receive]
	autogc = false
[push]
	gpgSign = if-asked
	default = simple
[tag]
	gpgSign = true
	forceSignAnnotated = true
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[clean]
	requireForce = true
[protocol "git"]
	allow = never
[protocol "http"]
	allow = never
[status]
	branch = true
[user]
	useConfigOnly = true
[pull]
	ff = only
[credential "helperselector"]
	selected = manager
