{{ $shell := deepCopy . |
    merge (dict "exes" (list
        "nu"
        "pwsh"
    )) |
    includeTemplate "findExe"
}}
{{ if $shell }}
terminal.shell.program = {{ toToml $shell }}
{{ end }}

{{ if deepCopy . |
    merge (dict "exes" (list
        "bash"
        "sh"
    )) |
    includeTemplate "findExe" |
    osBase |
    eq "bash"
}}
[[keyboard.bindings]]
key = "M"
mods = "Control|Shift"
mode = "~Search"
command = { program = "alacritty", args = ["--command", "bash", "-il"]}
{{ else }}
[[keyboard.bindings]]
key = "M"
mods = "Control|Shift"
mode = "~Search"
command = { program = "alacritty", args = ["--command", "sh"]}
{{ end }}
